/* Contenido del archivo styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Color de fondo para mejorar la visibilidad */
}

header {
    text-align: center;
    background-color: #3498db;
    padding: 20px 0;
}

header h1 {
    color: white;
}

nav {
    text-align: center;
    background-color: #333;
    padding: 10px 0;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-size: 18px;
}

/* Menú desplegable */

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center; /* Centro el contenido del menú desplegable */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown span svg {
    height: 60px;
}


.gato-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.gato-link {
    text-decoration: none;
    color: black;
    text-align: center;
    margin: 10px;
}

.gato-image-container {
    width: 120px;
    height: 120px;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gato-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gato-name {
    margin-top: 5px;
}

.mapa-container {
    text-align: center;
    margin-top: 20px;
}

iframe {
    width: 100%;
    height: 600px;
    border: none;
}

/* Slider css */

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }
    
    body { margin: 0; } 
    div#slider { overflow: hidden; }
    div#slider figure img { width: 20%; float: left; }
    div#slider figure { 
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      animation: 30s slidy infinite; 
    }

    footer {
        background-color: #538013;
        color: #f7d9a6;
        text-align: center;
        padding: 10px 0;
        position: fixed;
        width: 100%;
        bottom: 0;
    }
    