/* Contenido del archivo styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Color de fondo para mejorar la visibilidad */
    text-align: center; /* Para centrar el contenido */
}

header {
    background-color: #3498db;
    padding: 20px 0;
    color: white;
}

nav {
    text-align: center;
    background-color: #333;
    padding: 10px 0;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-size: 18px;
}

/* Menú desplegable */
.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center; /* Centro el contenido del menú desplegable */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown span svg {
    height: 60px;
}

.gato-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.gato-link {
    text-decoration: none;
    color: black;
    text-align: center;
    margin: 10px;
}

.gato-image-container {
    width: 120px;
    height: 120px;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gato-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gato-name {
    margin-top: 5px;
}

.mapa-container {
    text-align: center;
    margin-top: 20px;
}

iframe {
    width: 100%;
    height: 600px;
    border: none;
}

/* Slider css */

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}

body { margin: 0; } 
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}

.ventana {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.contenido {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mapa {
    flex: 2;
    margin-left: 20px;
}

.mapa iframe {
    width: 100%;
    height: 600px;
    border: none;
}

.bloque-derecha {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

.contenido-bloque {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    line-height: 2.5; 
}


.png {
    flex: 1;
}

.png img {
    width: 100%; /* Ajusta el ancho según tus necesidades */
    max-height: 400px; /* Establece la altura máxima si es necesario */
}

.otro-bloque {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; 
}

.grafico {
    background-color: #538013;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grafico h2 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 10px;
}

.grafico p {
    color: #ffffff;
    line-height: 1.5;
}

.Amenazas {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Amenazas h2 {
    color: #000000;
    font-size: 24px;
    margin-bottom: 10px;
}

.Amenazas p {
    color: #000000;
    line-height: 1.5;
}


.seccion-guina {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

.gif {
    flex: 1;
}

.gif img {
    width: 100%; 
    max-height: 400px; 
}


.texto-derecha {
    flex: 2;
    padding: 20px;
    background-color: #90b32a;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    line-height: 1.5;
    color: #ffffff; 
}



/* Estilos para la Guiña */

.imagen-gato {
    text-align: right;
    margin: 20px;
}

.gato {
    display: inline-block;
}

.gato-imagenguiña {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.seccion-guina {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

.gif {
    flex: 1;
}

.gif img {
    width: 100%;
    max-height: 400px;
}

.texto-derecha {
    flex: 2;
    padding: 20px;
    background-color: #ff0000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    line-height: 1.5;
}

footer {
    background-color: #538013;
    color: #f7d9a6;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Alerta */ 


.alert-container {
    background-color: #EEB72B;
    color: #000000;
    padding: 10px;
    text-align: center;
}

#alert-content p {
    margin-top: 20px;
    padding: 20px;
    background-color: #EEB72B;
    border: 1px solid #000000;
    border-radius: 5px;
}

/* Estilos para el COLO VIVA EL ALBO  */

.imagen-gato {
    text-align: right;
    margin: 20px;
}

.gato {
    display: inline-block;
}

.gato-colo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.seccion-colo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

.gif {
    flex: 1;
}

.gif img {
    width: 100%;
    max-height: 400px;
}

.texto-derecha {
    flex: 2;
    padding: 20px;
    background-color: #000000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    line-height: 1.5;
}

footer {
    background-color: #538013;
    color: #f7d9a6;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Alerta */ 


.alert-container2 {
    background-color: #EDF56E;
    color: #000000;
    padding: 10px;
    text-align: center;
}

#alert-content p {
    margin-top: 20px;
    padding: 20px;
    background-color: #EEB72B;
    border: 1px solid #000000;
    border-radius: 5px;

}


/* Estilos para EL PUMA  */

.imagen-pumaaa {
    text-align: right;
    margin: 20px;
}

.gato {
    display: inline-block;
}

.gato-pumaaa {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.seccion-pumaaa {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

.gif {
    flex: 1;
}

.gif img {
    width: 100%;
    max-height: 400px;
}

.texto-derecha {
    flex: 2;
    padding: 20px;
    background-color: #000000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    line-height: 1.5;
}

footer {
    background-color: #538013;
    color: #f7d9a6;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Alerta */ 


.alert-container3 {
    background-color: #EDF56E;
    color: #000000;
    padding: 10px;
    text-align: center;
}

#alert-content p {
    margin-top: 20px;
    padding: 20px;
    background-color: #EEB72B;
    border: 1px solid #000000;
    border-radius: 5px;

}

/* Estilos para el gato andino  */

.imagen-andino {
    text-align: right;
    margin: 20px;
}

.andino {
    display: inline-block;
}

.gato-andino {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.seccion-andino {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

.gif {
    flex: 1;
}

.gif img {
    width: 100%;
    max-height: 400px;
}

.texto-derecha {
    flex: 2;
    padding: 20px;
    background-color: #000000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    line-height: 1.5;
}

footer {
    background-color: #538013;
    color: #f7d9a6;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Alerta */ 


.alert-container4 {
    background-color: #EDF56E;
    color: #000000;
    padding: 10px;
    text-align: center;
}

#alert-content p {
    margin-top: 20px;
    padding: 20px;
    background-color: #EEB72B;
    border: 1px solid #000000;
    border-radius: 5px;

}

/* Estilos para el gato montes  */

.imagen-montes {
    text-align: right;
    margin: 20px;
}

.montes {
    display: inline-block;
}

.gato-montes {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.seccion-montes {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

.gif {
    flex: 1;
}

.gif img {
    width: 100%;
    max-height: 400px;
}

.texto-derecha {
    flex: 2;
    padding: 20px;
    background-color: #f09840;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    line-height: 1.5;
}

footer {
    background-color: #538013;
    color: #f7d9a6;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Alerta */ 


.alert-container4 {
    background-color: #EDF56E;
    color: #000000;
    padding: 10px;
    text-align: center;
}

#alert-content p {
    margin-top: 20px;
    padding: 20px;
    background-color: #EEB72B;
    border: 1px solid #000000;
    border-radius: 5px;

}

        /* Estilos preservación */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            text-align: center;
            background-color: #ffffff;
            padding: 20px 0;
        }

        nav {
            text-align: center;
            background-color: #333;
            padding: 10px 0;
        }

        nav a {
            text-decoration: none;
            color: rgb(123, 54, 54);
            margin: 0 15px;
            font-size: 18px;
        }

        .dropdown {
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #333;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
            text-align: center;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown-content a {
            color: rgb(255, 0, 0);
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .content-container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #90b32a;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        footer {
            background-color: #538013;
            color: #f7d9a6;
            text-align: center;
            padding: 10px 0;
            position: fixed;
            width: 100%;
            bottom: 0;
        }

        /* Estilos cuadros colores preservacion */
        body.preservacion-page {
            background-color: #f9f9f9;
        }

        .preservacion-section {
            margin-bottom: 20px;
        }

        .preservacion-images img {
            width: 100%;
            border-radius: 8px;
            margin-bottom: 10px;
        }

        .preservacion-links {
            text-align: center;
        }

        .link-button {
            display: inline-block;
            padding: 10px 20px;
            margin: 10px;
            background-color: #538013;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            cursor: pointer;
        }

     /* Estilos CSS para la ventana modal */
        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            justify-content: center;
            align-items: center;
        }

        .modal-content {
            background-color: #fff;
            padding: 20px;
            max-width: 600px;
            margin: 0 auto;
        }

        .close {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
    
        /* Estilos CSS para la ventana modal */
        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            justify-content: center;
            align-items: center;
        }

        .modal-content {
            background-color: #fff;
            padding: 20px;
            max-width: 600px;
            margin: 0 auto;
        }

        .close {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
    